@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
    color: goldenrod;
    user-select: none;
}
body{
   min-width: 700px; 
   background-color: rgb(236, 226, 226); 
}

